<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>从文件中读写结构体信息.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>文件操作--保存键盘输入的字符串.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>读取和写入一个二维数组.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>90A026921C93A88F00ECBCFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90A026A11C93C33D00ECBCFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90A026AC1C93E71500ECBCFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
