<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>01switch-case结构.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>02-程序的调试.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>03-循环结构.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>04-while循环结构.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>05-循环的应用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>06-break与continue.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>猜数字游戏.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>90C9C6791C857F090032E8B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90D2EF5A1C84784100BD93D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90D2EF681C8478FE00BD93D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90D2EF731C84791D00BD93D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90D2EF7E1C84793100BD93D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90D2EF891C84794300BD93D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90D2EF941C84795200BD93D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90D2EF9F1C84796800BD93D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
