<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>1_1.jpg</string>
		<key>name</key>
		<string>a</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>1_2.jpg</string>
		<key>name</key>
		<string>b</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>1_3.jpg</string>
		<key>name</key>
		<string>c</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>1_4.jpg</string>
		<key>name</key>
		<string>d</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>1_5.jpg</string>
		<key>name</key>
		<string>e</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>1_6.jpg</string>
		<key>name</key>
		<string>f</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>1_7.jpg</string>
		<key>name</key>
		<string>g</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>1_8.jpg</string>
		<key>name</key>
		<string>h</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>1_9.jpg</string>
		<key>name</key>
		<string>i</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>1_10.jpg</string>
		<key>name</key>
		<string>j</string>
	</dict>
</array>
</plist>
